@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400;1,500&display=swap');

*{
    
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;border: none;
    text-decoration: none; 
    text-transform: capitalize;
    transition: 0.2s linear;
}

html{
    font-size: 16px;
}


.continuer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 4.8rem;
}
.title {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title h2{
font-size: 2rem;
font-style: italic;
border-bottom: 0.15rem solid #ff8000;
padding-bottom: 0.15rem;
color: white ;
}
 .right  {
    width: 38rem;
    height: 88vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



  
.left {
    width: 38rem;
    height: 88vh;
}
.left .title-left , .total-price{
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-form {
  display: none; /* Hide all payment forms by default */
}


.left .title-left h3{
    color: white ;
    font-size: 1.4rem;
    font-style: italic;
}

.left .total-products{
    color: white ;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 600;
}


#payment-methods {
    /* margin-left: 3rem; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }
  
  #payment-methods img {
    width: 8rem;
    height:6rem;
}
#payment-methods img:hover{
    transform: scale(1.2);
    cursor: pointer;
  }

  .payment-form {
    width: 70%;
    height: 75vh;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  
  .payment-form h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .form-group {
    margin-bottom: 0.5rem;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  