{% extends 'base.html' %}
{% load static %}
{% block title %}SOUQ > Favorite{% endblock %}
{% block body %}  
<div class="container mt-3">
    {{name}}
    <div class="modfiy-center mb-2" style="width: 110px; color: #2196f3;">
        <h4 style="    font-size: 1.5rem;
        border: 2px solid;
        padding: 10px;
        border-radius: 25%;">Favorite</h4>
    </div>
    <div class="row">
        {% for product in product_list %}
        {% if product.PRDIs_Active  %}
                <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                    <div class="card" style="width: 17rem; height:20.5rem;">
                        <div class="project-image">
                            {% if product.PRDIImage  %}
                                <img src="{{product.PRDIImage.url}}" class="card-img-top" alt="...">
                            {% else %}
                                <img src="{% static 'img/not_found_image.jpg' %}" class="card-img-top" alt="...">
                            {% endif %}     
                        </div>
                        <div class="card-body">
                            <h4 class="card-title text-center"><a href="{% url 'products:product_detail' product.slug %}" style="color: black ;text-decoration:none">{{product}}</a></h4>
                            <p class="card-text text-center">
                                {% if product.PRDPriceDiscount > 0  %}
                                    <span class="mr-1">
                                        <del>{{product.PRDPrice}} $</del>
                                    </span>
                                    <span>{{product.PRDCost}}$</span>
                                {% else %}
                                    <span>{{product.PRDPrice}}$</span>
                                {% endif %}
                            </p>
                            <p>
                                {% if product.PRDPriceDiscount > 0  %}
                                    <a href="" style="text-decoration: none ;">
                                        <span class="badge red mr-3 ">Price offer</span>
                                    </a>
                                {% else %}
                                            
                                {% endif %}
                                {% if product.PRDNew %}
                                    <a href="" style="text-decoration: none ;">
                                    <span class="badge badge-pill badge blue mr-3">NEW</span>
                                    </a>
                                {% endif %}
                                {% if product.PRDSeller %}
                                    <a href="" style="text-decoration: none">
                                        <span class="badge red badge-pill">Bestseller</span>
                                    </a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            {% else %}
                
            {% endif %}
        
        {% empty %}
                <h4 style="margin: auto;" class="alert alert-warning"> No Products here ,
                    <a class=" btn ml-2 btn-outline-success-modify" style="text-decoration: none; border: 1px solid #00dcff;" href="{% url 'product:product_list' %}"> All Products</a></h4>
        {% endfor %}
    </div>
</div>
{% endblock body %}