{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link for font font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <!-- Link for file css -->
    <link rel="stylesheet" href="{% static 'css/footerandnavbar/navbar.css' %}">
    <style>
        .header {
            background-image: url('static/img/footerandnavbar/image-navbar/0.jpg');
        }
    </style>
    <title>Navbar</title>
</head>

<body>

    <!-- ==========Start Header========== -->

    <header class="header" style="position: fixed; z-index: 999;" id="header ">
        <a href="" class="logo">
            <img src="{% static 'img/footerandnavbar/image-navbar/logo.jpg' %}" alt="My Image">
        </a>

        <nav class="navbar">
            <a href="{% url 'foodmenu:home' %}">Home</a>
            <a href="{% url 'foodmenu:booktable' %}">Book A Table</a>
            <a href="{% url 'foodmenu:restaurantMenu' %}">Restaurant Menu</a>
            <a href="{% url 'foodmenu:reservation' %}">Reservation</a>
            {% comment %} <a href="{% url 'setteings:aboutus' %}">About Us</a> {% endcomment %}
        </nav>
        <div class="icons">

            <div class="fas fa-search" id="search-btn"></div>
            <div class="fas fa-shopping-cart" id="cart-btn"></div>
            <div class="fas fa-bars" id="menu-btn"></div>
        </div>
        <div class="search-form">
            <form method="GET">
                <input type="search" id="search-box" name="search" placeholder="Search Here...">
                <label for="search-box" class="fas fa-search"></label>
            </form>
        </div>

        <div class="cart-items-container">
            {% for detail in orderdetails  %}
                <div class="cart-item">
                    <span class="fas fa-times"></span>
                    <img src="{{ detail.product.Image.url }}">
                    <div class="content">
                        <h3>name: {{detail.product}}</h3>
                        <div class="price">price: {{detail.cost}}</div>
                        <div class="price">quantity: {{detail.quantity}}</div>
                    </div>
                </div>
            {% endfor %}

            <a href="#" class="btn-queries">Add To Cart</a>
        </div>
    </header>
    <!-- ==========Ends Header========== -->





    <script src="{% static 'js/footerandnavbar/navbar.js' %}"></script>
</body>

</html>